            header {
                display: flex;
                background-color: #A67DB8;
                border-bottom: 10px solid #020122;
                padding: 10px 20px;
                justify-content: space-between;
                align-items: center;
            }
            
            nav {
                text-align: right;
            }
            
            a {
                display: inline-flex;
                align-items: center;
                color: #890620;
                font-size: 20px;
                font-family: "fira code", Arial, Helvetica, sans-serif;
                font-weight: 500;
                text-decoration: none;
                margin-right: 30px;
            }
            
            a::before {
                content: "";
                background-color: #EED7C5;
                width: 10px;
                height: 10px;
                margin: 10px;
            }
            
            #button {
                display: inline-block;
                background-color: #EED7C5;
                padding: 18px 20px;
                box-shadow: 5px 5px 0px #020122;
                margin-right: 0;
                transition: transform 2s cubic-bezier(0.42, 0, 0, 1.43)linear opacity 200ms ease-in-out;
            }
            
            #button:hover {
                background-color: #85c7f2;
                transform: scale(1.08);
                opacity: 0.5;
            }